/* http://meyerweb.com/eric/tools/css/reset/
	v2.0 | 20110126
	License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
  scroll-behavior: smooth;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/** end reset css**/
body {
	max-width: 1140px;
	margin: auto;
	font-family: 'Work Sans';
	font-size: 14px;
}

main {
  width: 84%;
  margin: auto;
}

header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0;
}

section {
	margin: 125px 0;
}

.admin {
  display: none !important;
}

.publish {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60px;
}

.edit-mode {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  width: 100%;
  height: 60px;
  background: black;
  position: fixed;
  z-index: 100;
}

.edit-mode i {
  color: white;
}

.edit-mode span {
  font-family: 'Work Sans';
  font-size: 16px;
  margin-left: 10px;

}

.edit-mode button {
font-family: 'Work Sans';
font-weight: bold;
min-width: 100px;
padding: 10px 20px;
border: none;
border-radius: 20px;
color: black;
border: 2px solid white;
background-color: white;
cursor: pointer;
}

.edit-mode button:hover,
.edit-mode button:focus {
  background-color: black;
  color: white;
}

.filter:hover,
input[type="submit"]:hover {
  background-color: #0e2f28;
  color: white;
}

h1 {
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C;
}

h1>span {
  display: inline-block;
  margin-top: 7px;
	font-family: 'Work Sans';
	font-size: 10px;
	letter-spacing: 0.1em;
  font-weight: normal;
  text-transform: uppercase;
}

h2 {
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154;
}

nav ul {
	display: flex;
	align-items: center;
  gap: 20px;
	list-style-type: none;

}

header nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

header li a:hover,  
header li a:focus {
	font-weight: bold;
  font-size: 16px;
}

.edit span {
  font-family: 'Work Sans';
  font-size: 14px;
  margin-left: 10px;
}

.edit:hover {
  cursor: pointer;
}

.edit:hover span,
.edit:focus span,
.edit-gallery a:hover {
  font-weight: bold;
}

.instagram {
  width: 22px;
}

#introduction {
	display: flex;
	align-items: center;
  position: relative;
}

#introduction figure {
	flex: 1;
}

#introduction img {
	display: block;
	width: 88%;
}

#introduction .edit-picture {
  margin-top: 15px;
}

#introduction article {
  position: relative;
	flex: 1;
  max-width: 43%;
}

#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 1em;
}

#portfolio {
  position: relative;
}

#portfolio h2 {
	text-align: center;
	margin-bottom: 1.5em;
}

.edit-gallery {
  display: flex;
  justify-content: center;
  position: relative;
  top: -60px;
  left: 170px;
}

.edit-gallery a {
  font-family: 'Work Sans';
  font-size: 14px;
  margin-left: 10px;
  color: inherit;
  text-decoration: none;
}

header li a {
  text-decoration: none;
  color: black;
}

.gallery-filters {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 1em;
}

.filter.active {
	background: #1D6154;
	color: white;
}

.filter {
	font-family: 'Syne';
	font-weight: 700;
	font-size: 1em;
	margin-bottom: 4em;
	padding: 10px;
	border: 1px solid #1D6154;
	border-radius: 20px;
	color: #1D6154;
	background-color: white;
	min-width: 100px;
	cursor: pointer;
}

.hidden {
	display: none;
}

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
  animation: opacity 1s ease-in;
}

.gallery figure{
  opacity: 1;
  animation: opacity 0.7s ease-in-out;
}

@keyframes opacity {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.25;
  }
  100% {
    opacity: 1;
  }
}

.gallery img {
	width: 100%;
}

#contact {
	width: 50%;
	margin: auto;
}

#contact>* {
	text-align: center;
}

#contact h2 {
	margin-bottom: 20px;
}

#contact form {
	text-align: left;
	margin-top: 30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#contact label {
	margin: 2em 0 1em 0;
}

#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"] {
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin: 2em auto;
	width: 180px;
	text-align: center;
	border-radius: 60px;
  cursor: pointer;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 1, 0.7);
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 30px;
  width: 630px;
  max-width: calc(100vw - 55%);
  max-height: calc(100vh - 24%);
  background: white;
  border-radius: 10px;
  padding: 26px 30px 48px 30px;
  animation: transform 1s ease-in-out;
}

@keyframes transform {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

.closing {
  animation: transform-reverse 0.6s ease-in-out;
}

@keyframes transform-reverse {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

.modal-navbar {
  display: unset;
  position: relative;
  margin: 0;
}

.modal-navbar button {
  border: none;
  background: none;
}

.modal-navbar button:nth-child(1) {
  position: absolute;
  left: 0;
}

.modal-navbar button:nth-child(2) {
  position: absolute;
  right: 0;
}

.modal-navbar button:nth-child(1):hover,
.modal-navbar button:nth-child(2):hover {
  cursor: pointer;
}

.modal-editor {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  flex-grow: 1;
  width: 76%;
  margin: auto;
  overflow: hidden;
}

.modal-editor h2 {
  font-family: 'Work Sans';
  font-weight: normal;
  font-size: 26px;
  color: inherit;
}

.modal-gallery,
.add-modal-gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
  flex-grow: 1;
  margin: 30px 0 0 0;
  width: 100%;
}

.modal-gallery {
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #1D6154 #A7A7A7;
}

.modal-gallery::-webkit-scrollbar {
  width: 8px;
}

.modal-gallery::-webkit-scrollbar-track {
  background-color: #A7A7A7;
  border-radius: 100px;
}

.modal-gallery::-webkit-scrollbar-thumb {
  background-color: #1D6154;
  border-radius: 100px;
}

.gallery-pictures {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-column-gap: 0.9em;
  grid-row-gap: 20px;
  margin-bottom: 50px;
  position: relative;
  top: 4%;
}

.gallery-pictures figure {
  position: relative;
  display: flex;
  flex-direction: column;
}

.gallery-pictures figcaption {
  font-size: 12px;
  padding: 2px 0;
}

.gallery-pictures img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery-pictures figure button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.gallery-pictures figure .trash-can {
  position: absolute;
  top: 6px;
  right: 3px;
}

.gallery-pictures figure .cross-arrow {
  position: absolute;
  top: 6px;
  right: 30px;
  display: none;
}

.gallery-pictures figure:hover .cross-arrow {
  display: block;
}

.gallery-pictures figure span {
  font-size: inherit;
  width: 2em;
  height: 2em;
}

.gallery-pictures figure i:nth-child(1) {
  color: black;
}

.gallery-pictures figure i:nth-child(2) {
  color: white;
}

.modal-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 23px;
  width: 100%;
  padding-top: 38px;
  margin: 0;
  border-top: 1px solid #B3B3B3;
}

.modal-editor .modal-button button {
  font-family: 'Syne';
  font-size: 14px;
  border: none;
  width: 250px;
  min-width: 100px;
  cursor: pointer;
}

.modal-editor button:first-child {
  font-weight: 700;
  padding: 10px;
  border-radius: 20px;
  color: white;
}

.modal-editor .add-picture {
  background-color: #1D6154;
}

.modal-editor .add-picture:hover {
  background-color: #0e2f28;
}

.modal-editor button:nth-child(2) {
  font-weight: 400;
  background: none;
  color: red;
  padding: 0;
  width: 130px;
}

.modal-editor button:nth-child(2):hover {
  transform: scaleX(1.1);
}

.add-gallery {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.add-picture-box {
  background-color: #E8F1F6;
}

.add-picture-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 169px;
  position: relative;
}

.add-picture-box i {
  font-size: 58px;
  color: #CBD6DC;
  margin-top: 22px;
}

.add-picture-button {
  margin-top: 15px;
}

.add-picture-button .add-file-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 176px;
  height: 36px;
  background-color: #cbd6dc;
  border-radius: 50px;
  font-family: 'Work Sans';
  font-weight: 500;
  font-size: 14px;
  color: #306685;
  position: relative;
  z-index: 1;
  cursor: pointer;
}

.add-picture-button .add-file-input {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  visibility: hidden;
}

.add-picture-box p {
  font-family: 'Work Sans';
  font-weight: 400;
  font-size: 10px;
  margin-top: 7px;
}

.add-picture-box img {
  position: absolute;
  width: 129px;
  height: 100%;
  z-index: 1000;
  object-fit: contain;
}

.add-gallery label[for="title"],
.add-gallery label[for="category-select"] {
  font-family: 'Work Sans';
  font-weight: 500;
  font-size: 14px;
}

.add-gallery label[for="title"] {
  margin-top: 30px;
}

.add-gallery label[for="category-select"] {
  margin-top: 21px;
}

.add-gallery input[name="title"],
.add-gallery .select {
  font-family: 'Work Sans';
  font-weight: 400;
  font-size: 14px;
  margin-top: 10px;
  padding-left: 16px;
  height: 51px;
  border: none;
  box-shadow: 0 4px 14px 0 #00000017;
}

.add-gallery .select {
  background-color: white;
  margin-bottom: 47px;
}

.content-valid-btn {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 32px;
  border-top: 1px solid #B3B3B3;
}

.valid-btn {
  width: 237px;
  height: 36px;
  border: none;
  background-color: #A7A7A7;
  cursor: pointer;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em;
}

/** log In **/

.login-page {
  font-weight: bold;
  font-size: 16px;
}

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  margin-top: 120px;
}

.login h2 {
  margin-bottom: 20px;
}

.login form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
}

.login label,
.login input {
  width: 100%;
}

.login label {
  margin: 3em 0 0.5em 0;
}

.login input {
  border: none;
  height: 50px;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.09);
  font-family: inherit;
  font-size: 1.2em;
  text-indent: 12px;
  padding: 0;
}

.login input[type="email"]:invalid{
  background-color: darkred;
  color: white;
  animation: headshake 100ms cubic-bezier(.4,.1,.6,.9);
  animation-iteration-count: 3;
}

@keyframes headshake {
  25% {
    transform: translateX(2%);
  }
  75% {
    transform: translateX(2% * -1);
  }
}

.btn-login {
  background-color: #1D6154;
  color: white;
  font-family: 'Syne';
  border: none;
  width: 180px;
  border-radius: 60px;
  padding: 10px;
  margin: 35px auto;
  cursor: pointer;
}

.forgotten-password {
  color: inherit;
}

.btn-login:hover {
  background-color: #0e2f28;
}

.forgotten-password:hover {
  color: #B1663C;
}

.footer-login {
  position: fixed;
  bottom: 0;
  width: 100%;
  max-width: inherit;
}